@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Hemant will present on Bootstrap 5.2</a>.</p>
</div>
@Html.ActionLink("Privacy","Privacy","Home")
<br/>
<br/>
<a asp-action="Privacy" asp-controller="Home">PrivacyWithTagHelper</a>


